extends layout

block content
    div#map-canvas
        
    form.filter-control
        div.container
            div.row
                div.col-xs-2.vertically-centered
                    label(for="max-fuel-level")="Maximum fuel level"
                div.col-xs-9.vertically-centered
                    input(class="max-fuel-level", name="max-fuel-level", type="range", min="0", max="100", value="25")
                div.col-xs-1.vertically-centered
                    output(class="max-fuel-level")="25%"
            div.row
                div.col-xs-2.vertically-centered
                    label(for="show-gasstations")="Show gasstations"
                div.col-xs-10.vertically-centered
                    input(class="show-gasstations", name="show-gasstations", id="show-gasstations", type="checkbox")