extends layout

block content
    div(id="map-canvas")
        
    form(id="filter-control")
        label(for="max-fuel-level")="Maximum fuel level"
        input(id="max-fuel-level", type="range", min="0", max="100", value="25")