doctype 5
html
    head
        title= title
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="/css/style.css")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:700,400,800,600,300", rel="stylesheet", type="text/css")
        script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHQySXASgiH1oaD5WcleklbcQ9az6ERcw&sensor=true")
        script(type="text/javascript", src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js")
            
    body
        block content

    script(type="text/javascript", src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(type="text/javascript", src="/js/fmu.js")